@import "tailwindcss";

:root {
  --background: #E4EDE3;
  --foreground: #004D61;
  --tomato: #FF5031;
  --moss-green: #47A138;
  --rojo: #E60026;
  --kelly-green: #38B000;
  --silver: #CBCBCB;
  --battleship-gray: #8B8B8B;
  --azure: #DEE9EA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tomato: var(--tomato);
  --color-moss-green: var(--moss-green);
  --color-silver: var(--silver);
  --color-battleship-gray: var(--battleship-gray);
  --color-azure: var(--azure);
}

body {
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}
